body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.welcome span {
    color: #667085;
}

.log_in {
    width: 450px;
    height: 310px;
    border-radius: 15px;

}

.login_input {
    width: 220px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #bdc0c9;
}

.login_button {
    width: 220px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    background-color: #08A0F7;
    color: white;
}

.NAV {
    height: 42em;
    background-color: white;
    border-radius: 15px;
}

.logo {
    border-radius: 50%;
}

.logo_title_1{
    font-size: 1em;
}

.logo_title_2 {
    color: #7A7E86;
    font-size: 0.8em;
    opacity: 0.7;
}

@media (max-width: 576px) {
    .logo_title_1{
        font-size: 0.6em;
    }
    .logo_title_2{
        font-size: 0.5em;
    }
}

.div_link_active{
    background-color: #08A0F7;
    border-radius: 15px;
}

.div_link_active a {
    text-decoration: none;
}

.nav_icon_active{
    background-color: #08A0F7;
    color: white;
}

.nav_link_active{
    color: white;
}

.div_link{
    background-color: white;
    border-radius: 15px;
}

.div_link a{
    text-decoration: none;
}

.nav_icon{
    background-color: white;
    color: #7A7E86;
}

.nav_link{
    color: #7A7E86;
    opacity: 0.7;
}

.nav_btn{
    border: 0px;
    background-color: white;
}

.div_link:hover{
    border: #08A0F7 2px solid;
    border-radius: 15px;
}

.h3-welcom{
    background-color: white;
    border-radius: 15px;

}

.add{
    background-color: white;
    border-radius: 15px;
    height: 120px;
}

.add i {
    color: #08A0F7;
  
}

.add button{
    font-size: large;
    font-weight:500;
}

.statistics{
    background-color: white;
    border-radius: 15px;
}

.count_briefs{
    border-radius: 50%;
    background-color: #FBA63C;
    height: 40px;
    width: 40px;
}

.count_learners{
    border-radius: 50%;
    background-color: #5DC983;
    height: 40px;
    width: 40px;
}

.count_trainers{
    border-radius: 50%;
    background-color: #08A0F7;
    height: 40px;
    width: 40px;
}
.count i{
    color: white;
}

.search_div {
    background-color: white;
    border-radius: 15px;
    height: 55px;
}

.search_input {
    background-color: #EFF1F6;
    border-radius: 15px;
    border: 0px;
    height: 35px;
    padding-left: 10px;
}


.div_incomplete_b {
    background-color: white;
    height: 300px;
    border-radius: 15px;
}

.add_input {
    border: 1px solid #A7A7A7;
    border-radius: 5px;
    height: 35px;
    padding-left: 5px;
}

.add_btn {
    background-color: #F1F1F1;
    border-radius: 3px;
    border: 0px;
    padding: 8px 13px;
    font-weight: 500;
}

.ed_btn {
    color: #5DC983;
    cursor: pointer;
}

.re_btn {
    color: #FBA63C;
    cursor: pointer;
}

.cnf_re_btn {
    background-color: #FBA63C;
    color: black;
    border: 0px;
    border-radius: 5px;
}

table {
    border-radius: 15px;
}

.filter_briefs {
    border: 0px;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 35px;
    font-weight: 500;
}

.filter_form {
    width: 100px;
}

.filter_briefs_active {
    background-color: #08A0F7;
    color: white;
    width: 100px;
    height: 35px;
    font-weight: 500;
    border: 0px;
    border-radius: 10px;
}

.filter_briefs:hover {
    border: #08A0F7 2px solid;
}

.cart_brief {
    background-color: white;
    border-radius: 15px;
}

.see_details_brief {
    border: 1px solid #5DC983;
    border-radius: 5px;
    background-color: white;
    width: 70px;
    height: 30px;
    font-weight: 500;
}

.see_details_brief:hover {
    background-color: #5DC983;
}

.start_brief {
    border: 0px;
    border-radius: 5px;
    background-color: #5DC983;
    width: 70px;
    height: 30px;
    font-weight: 500;
}

.start_brief:hover {
    border: 1px solid #5DC983;
    background-color: white;
}

.attachment_btn {
    border: 0px;
    border-radius: 5px;
    background-color: #08A0F7;
    color: white;
}

.fa-file-arrow-down {
    color: white;
}

.no_briefs {
    background-color: white;
    border-radius: 15px;
    height: 50vh;
}

.mark_it_done {
    border: 0px;
    border-radius: 5px;
    background-color: #5DC983;
    color: white;
}

.statement_b {
    background-color: white;
    border-radius: 15px;
}

.circle_b {
    border: 3px solid #5DC983;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.filter_input {
    height: 35px;
    border-radius: 5px;
    border: 0px;
}

.filter_btn {
    border: 0px;
    background-color: #EFF1F6;
}

.fa-magnifying-glass {
    background-color: #EFF1F6;
    color: #08A0F7;
}

.fa-circle-check {
    color: #5DC983;
}

.fa-hourglass {
    color: #FBA63C;
}

.fa-clipboard-list {
    color: #FBA63C;
}

.fa-clock {
    color: #08A0F7;
}